h1 {
  text-align: center;
}

h3 {
  background-color: #cee8eb;
  padding: 8px;
  border-radius: 4px;
}

form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.inputField {
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 49%;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
/* 
  flex property is shorthand for flex-grow, flex-shrink, flex-basis & defaults to - 0 1 auto
  flex: 1; changes to 1 1 0
  with flex-basis as 0, wrapping doesn't work as intended thus better in this case to declare in full
*/
.flex-child {
  flex: 1 1 auto;
}

.flex-child .inputField {
  width: 98%;
}

div {
  margin-top: 8px;
  margin-bottom: 8px;
}

label {
  display: inline-block;
  padding-bottom: 8px;
}

.button {
  background-color: white;
  color: #009bad;
  text-align: center;
  padding: 8px;
  margin: auto;
  width: 40%;
  border: 1px solid #009bad;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.button:hover {
  background-color: #009bad;
  color: white;
}

.centerbtn {
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  resize: vertical;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}
